# OS Files #
.directory
*.DS_Store
[Tt]humbs.db 


# MSVC junk #
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
*.suo
*.user
*.zip
*.7z
*.ncb
*.msi
*.wix???
*.sdf
.vs
*.opensdf

# Link to make debug easier #
tools
